body {
    padding: 50px;
}
@media (max-width: 767px) {
    body {
        padding: 16px;
    }
}


#carrousel-container {
    height:86vh;
    padding-bottom: 90px;
}

.h4 {
    color: #726f6f; 
    font-weight: 300; 
    line-height: 1.5; 
    
    
}